@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    font-family: 'Montserrat', sans-serif;
}

form { width: 100%; } a { color: grey; } hr { width: 100%; }

.btn {
    height: 50px;
    border-radius: 5px;
    color: #fff!important;
}

.content {
    width: 500px;
    height: 100%;
    margin: 9rem auto;
    border-radius: 10px;
    background-color: #fff;
}

.login {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: #333333;
    letter-spacing: 5px;
    
}

.forgot {
    left: 37%;
    position: relative;
    font-size: 14px;
}

.forgot-again {
    position: relative;
    left: 14.5%;
    font-size: 14px;
}

.not-me {
    position: relative;
    right: 15%;
    font-size: 14px;
}

#user_idefier {
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: lightgreen;
    margin: 0 auto;
    font-size: 4rem;
}

#pass { display: none; } #user_idefier_fullname { margin-top: 2rem; }